<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login to access COMP 440 Project">
    <meta name="keywords" content="COMP 440, Project, Login">
    <meta name="author" content="Charles Quebral, Angel Rinos, Phone Pyae Zaw">
    <link rel="stylesheet" href="style.css">
    <title>COMP 440-PROJECT - PHASE 2</title>
</head>
<body>
    <header>
        <h1>COMP 440-PROJECT - PHASE 2</h1>
        <h6>Team 20: Charles Quebral, Angel Rinos, Phone Pyae Zaw</h6>
    </header>
    <main>
        <section class="profile-display">
            <form action="{{url_for('createpost')}}">
                <div class="button-group">
                    <button type="submit" class="btn-primary">Post An Item</button>
                </div>
            </form>
            <form action="{{url_for('search')}}">
                <div class="button-group">
                    <button type="submit" class="btn-primary">Search Items</button>
                </div>
            </form>
        </section>
        <section class="link-group">
            <a href="login.html">Logout</a>
        </section>
        <br>
        <br>
        <br>
        <form action="{{url_for('initdb')}}">
            <div class="button-group">
                <button type="submit" class="btn-primary">Initialize Database</button>
            </div>
        </form>
    </main>
</body>
</html>
