<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login to access COMP 440 Project">
    <meta name="keywords" content="COMP 440, Project, Login">
    <meta name="author" content="Charles Quebral, Angel Rinos, Phone Pyae Zaw">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}" />
    <title>COMP 440-PROJECT - PHASE 3</title>
</head>
<body>
    <header>
        <h1>COMP 440-PROJECT - PHASE 3</h1>
        <h6>Team 20: Charles Quebral, Angel Rinos, Phone Pyae Zaw</h6>
    </header>
    <main>
        <section class="display">
            <form action="/item/{{postid}}" method="POST" id="reviewForm">
                <div class="group">
                    <h1>{{ poster }}: {{ title }}</h1>
                </div>
                <label for="feedback">Product Condition:</label>
                    <select id="feedback" name="feedback">
                        <option value="excellent">Excellent</option>
                        <option value="good">Good</option>
                        <option value="fair">Fair</option>
                        <option value="poor">Poor</option>
                    </select>
                <div class="form-group">
                    <label for="review">Review</label>
                    <input type="review" class="form-control" id="review" name="review" placeholder="Enter review" required>
                </div>
                <div class="button-group">
                    <button type="submit" class="btn-primary">Submit Review</button>
                </div>
                <div class="msg">{{ msg }}</div>
            </form>

            <section class="results-group">
                <h2>Reviews</h2>
                {%for item in items%}
                    <h3 for="username" id="username" name="username">Posted by: {{item['reviewer']}}</h3>
                    <h6 for="date" id="date" name="date">Posted on: {{item['date']}}</h6>
                    <h6 for="feedback" id="feedback" name="feedback">Feedback: {{item['feedback']}}</h6>
                    <h6 for="review" id="review" name="review">Thoughts: {{item['review']}}</h6>
                {%endfor%}
            </section>

            <form action="{{url_for('search')}}">
                <div class="button-group">
                    <button type="submit" class="btn-primary">Back</button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>