<html>
    <head>
        <h1 align="center">COMP 440-PROJECT - PHASE 1</h1>
        <h6 align="center">Charles Quebral, Angel Rinos, Mickey Paung</h6>
        <h3 align="center">Login</h3>    
    </head>
    <body>
        <div class="loginform">
            <form action="{{url_for('login')}}" method="post">
                <div align="center" class="form-group">
                    <label for="cred">Email or Username</label>
                    <input type="cred" class="form-control" id="cred" name="cred" placeholder="Enter email or username"/>
                </div>
                <div align="center" class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"/>
                </div>
                <br>
                <div class="msg">{{ msg }}</div>
                <br>
                <div align="center" class="button-group">
                        <button type="submit" class="btn-primary">Login</button>
                </div>
            </form>
        
            <br>
        
            <div align="center" class="link-group">
                <a id="log in" href="signup">Not Registered? Sign up</a>
            </div>
        </div>
    </body>
</html>