<form action="/login" method="POST">

    <h1 align="center">COMP 440-PROJECT - PHASE 1</h1>
    <h6 align="center">Charles Quebral, Angel Rinos, Mickey Paung</h6>
    <h3 align="center">Login</h3>

    <div align="center" class="form-group">
        <label class="cred">Email or Username</label>
        <input type="cred" class="form-control" id="cred" name="cred" placeholder="Enter email or username"/>
    </div>

    <div align="center" class="form-group">
        <label class="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"/>
    </div>

    <br>

    <div align="center" class="button-group">

        <button type="submit" class="btn-primary">Sign Up</button>

    </div>

    <br>

    <div align="center" class="link-group">

        <a id="log in" href="signup">Not Registered? Sign up</a>

    </div>

</form>