<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login to access COMP 440 Project">
    <meta name="keywords" content="COMP 440, Project, Login">
    <meta name="author" content="Charles Quebral, Angel Rinos, Phone Pyae Zaw">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}" />
    <title>COMP 440-PROJECT - PHASE 3</title>
</head>
<body>
    <header>
        <h1>COMP 440-PROJECT - PHASE 3</h1>
        <h6>Team 20: Charles Quebral, Angel Rinos, Phone Pyae Zaw</h6>
    </header>
    <main>
        <h1>1. Most Expensive Item in Each Category</h1>
        <section class="results-1">
            {%for cat in categories%}
            <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            <h1 for="cat" id="cat" name="cat">Category = {{cat['focus']}}</h1>
            <h6 for="username" id="username" name="username">Posted By: {{cat['username']}}</h6>
            <h2 for="title" id="title" name="title">Title: {{cat['title']}}</h2>
            <h3 for="description" id="description" name="description">Description: {{cat['description']}}</h3>
            <h4 for="price" id="price" name="price">Price: ${{cat['price']}}</h4>
            <h3 for="category" id="category" name="category">Category: {{cat['category']}}</h3>
            {%endfor%}
        </section>
        <section class="link-group">
            <a href="/index">back</a>
        </section>
    </main>
</body>
</html>