<form method="post">

    <h1 align="center">COMP 440-PROJECT - PHASE 1</h1>
    <h6 align="center">Charles Quebral, Angel Rinos, Mickey Paung</h6>
    <h3 align="center">Sign Up</h3>

    <div align="center" class="form-group">
        <label class="username">Username</label>
        <input type="username" class="form-control" id="username" name="username" placeholder="Enter a username"/>
    </div>

    <div align="center" class="form-group">
        <label class="firstname">First Name</label>
        <input type="firstname" class="form-control" id="firstname" name="firstname" placeholder="Enter first name"/>
    </div>

    <div align="center" class="form-group">
        <label class="lastname">Last Name</label>
        <input type="lastname" class="form-control" id="lastname" name="lastname" placeholder="Enter last name"/>
    </div>

    <div align="center" class="form-group">
        <label class="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"/>
    </div>

    <div align="center" class="form-group">
        <label class="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"/>
    </div>

    <div align="center" class="form-group">
        <label class="password">Confirm Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Confirm password"/>
    </div>

    <br>

    <div align="center" class="button-group">

        <button type="submit" class="btn-primary">Sign Up</button>

    </div>

    <br>

    <div align="center" class="link-group">

        <a id="sign up" href="login">Already Signed Up? Log in</a>

    </div>

</form>