<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login to access COMP 440 Project">
    <meta name="keywords" content="COMP 440, Project, Login">
    <meta name="author" content="Charles Quebral, Angel Rinos, Phone Pyae Zaw">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}" />
    <title>COMP 440-PROJECT - PHASE 3</title>
</head>
<body>
    <header>
        <h1>COMP 440-PROJECT - PHASE 3</h1>
        <h6>Team 20: Charles Quebral, Angel Rinos, Phone Pyae Zaw</h6>
    </header>
    <main>
        <section class="requirement 1">
            <h3>1. Most Expensive in Each Category</h3>
            <form action="{{url_for('req1')}}">
                <div class="button-group">
                    <button type="submit" class="btn-primary">Go</button>
                </div>
            </form>
        </section>
        <section class="requirement 2">
            <h3>2. Users who posted at least twice in a day with Categories X and Y</h3>
            <form action="{{url_for('req2')}}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="catx" name="catx" placeholder="Category X" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="caty" name="caty" placeholder="Category Y" />
                </div>
                <div class="button-group">
                    <button type="submit" class="btn-primary">Go</button>
                </div>
            </form>
        </section>
        <section class="requirement 3">
            <h3>3. Items posted by user X with only "Excellent" or "Good" comments</h3>
            <form action="{{url_for('req3')}}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="userx" name="userx" placeholder="User X" />
                </div>
                <div class="button-group">
                    <button type="submit" class="btn-primary">Go</button>
                </div>
            </form>
        </section>
        <section class="requirement 4">
            <h3>4. User(s) With The Most Posts on 5/1/2023</h3>
            <form action="{{url_for('req4')}}">
                <div class="button-group">
                    <button type="submit" class="btn-primary">Go</button>
                </div>
            </form>
        </section>
        <section class="requirement 5">
            <h3>5. Users who are favorited by both users X and Y</h3>
            <form action="{{url_for('req5')}}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="userx" name="userx" placeholder="User X" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="usery" name="usery" placeholder="User Y" />
                </div>
                <div class="button-group">
                    <button type="submit" class="btn-primary">Go</button>
                </div>
            </form>
        </section>
        <section class="requirement 6">
            <h3>6. Users Who Never Posted "Excellent" Items</h3>
            <form action="{{url_for('req6')}}">
                <div class="button-group">
                    <button type="submit" class="btn-primary">Go</button>
                </div>
            </form>
        </section>
        <section class="requirement 7">
            <h3>7. Users who never posted a "Poor" review</h3>
            <form action="{{url_for('req7')}}">
                <div class="button-group">
                    <button type="submit" class="btn-primary">Go</button>
                </div>
            </form>
        </section>
        <section class="requirement 8">
            <h3>8. Users who only post "Poor" reviews</h3>
            <form action="{{url_for('req8')}}">
                <div class="button-group">
                    <button type="submit" class="btn-primary">Go</button>
                </div>
            </form>
        </section>
        <section class="requirement 9">
            <h3>9. Users whose items so far never received any "poor" reviews</h3>
            <form action="{{url_for('req9')}}">
                <div class="button-group">
                    <button type="submit" class="btn-primary">Go</button>
                </div>
            </form>
        </section>
        <section class="requirement 10">
            <h3>10. User pairs who always gave each other "Excellent" feedback on all their posts.</h3>
            <form action="{{url_for('req10')}}" method="post">
                <div class="button-group">
                    <button type="submit" class="btn-primary">Go</button>
                </div>
            </form>
        </section>
        <section class="link-group">
            <a href="/index">back</a>
        </section>
    </main>
</body>
</html>